* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

.top{
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.header {
     display: flex;
     justify-content: space-between;
     padding-top: 42px;
    }

    .top_header {
    width: 510px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    color: #1F3F68;
    letter-spacing: 0.04em;
    padding-top: 115px;
    margin-bottom: 32px;
    }

    .top_p{
    width: 425px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6
}
.top_botton{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    display: inline-block;
    margin-top: 71px;
}

.zogolovok {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000;
    font-family:'Segoe UI', Roboto, Oxygen;
}
.heading{
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}
.card {
    border: 2px solid rgb(6, 199, 247);
    width: 359px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 14px;
    margin-top: 52px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.text_card1{
    margin-top: 52px;
    margin-bottom: 14px;
}
.car_img{
    align-self: center;
    margin-bottom: 51px;
}
.card_link{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    margin-top: 14px;
}
.content1 {
    height: 495px;
}

.zog{
    font-size: 36px;
    text-align: center;  
}

.text_pro {
    width: 75%;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
    margin: 32px auto 64px;
    opacity: 1;
}

.header1 {
    height: 340px;
    background: #316099;
    width: 1366px;
    height: 657px;
}
.block_info {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-family: Roboto;
    margin-top: 64px;
    margin-bottom: 64px;
    margin-left: 155px;
    margin-right: 114px;
    justify-content:space-between

    
}
.top_info{
    flex-grow: 1;
    background-image: url(img/illustration.svg);
    background-repeat: no-repeat;
    background-position: right center;
  
}

.top_box{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.what-we-do {
    padding-top: 64px;
}

.pro__item{
    position: relative;
}

.pro_parent{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    flex-grow: 1;
}
.pro_img{
    width: 100%;
}
.pro_text{
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
 }
 .pro_text1{
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
    margin-right: 32px;

 }

 .pro_text2{
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;   
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
 }
.top_header1{
    height: 92px;
    width: 340px;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
    letter-spacing: 0.05em;
    padding-top: 91px;
    margin-bottom: 32px;
    margin-left: 113px;
    font-weight: 300;

}
.header2{
       flex-direction: column;
       background: #316099;

}
.text_footer{
    height: 92px;
    width: 494px;
    margin-bottom: 32px;
    margin-left: 113px; 
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6; 
}

.hr{
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    margin-top: 96px;
}

.final{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    margin-top: 64px;
    margin-bottom: 64px;
    margin-left: 155px;
    margin-right: 113px;
    padding-bottom: 64px
}

.top_link{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    display: inline-block;
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 150px;
}
.finak2{
    margin-right: 114px;
}










